*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: P-BIG;
  src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: P-MED;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: P-LIGHT;
  src: url("/fonts/Poppins-Thin.ttf");
}

body {
  font-family: P-MED;
  color: white;
  background-color: black;
}

nav {
  min-height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  background-color: #1f1f1f;
}

.logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-left: 5%;
}

.burger {
  margin-right: 5%;
  cursor: pointer;
}

.burger:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.page {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 10% 1fr 1fr;
      grid-template-rows: 10% 1fr 1fr;
}

.page .hero {
  text-align: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.page .details {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: white;
  text-align: left;
  z-index: 100;
}

.page .hero .image {
  max-width: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.bio_page {
  overflow: hidden;
  min-height: 90vh;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.bio_details {
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.bio_pic {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  opacity: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 50%;
}

.bio_page .image {
  -webkit-transform: scale(95%);
          transform: scale(95%);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.bio_page .image:hover {
  -webkit-transform: scale(100%);
          transform: scale(100%);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: #0f0f0f;
}

.social-links {
  margin: 30px auto;
  text-align: center;
  letter-spacing: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 10vh;
  width: 100%;
  background-color: black;
  opacity: 100%;
  z-index: 1000;
  display: none;
}

.nav-links li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
}

.nav-active {
  display: block;
  background-color: #313131;
}

.work_page {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5px;
  -ms-grid-columns: 0% (1fr)[1] 0%;
      grid-template-columns: 0% repeat(1, 1fr) 0%;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.work_page .project_name {
  position: absolute;
  text-align: center;
}

.work_page .image {
  max-width: 100%;
  width: 100%;
  margin-bottom: 2px;
  max-height: 100%;
  opacity: 50%;
}

.work_page .image:hover {
  opacity: 100%;
}

.project_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.project_2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.project_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.project_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.project_5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.project_6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.project_7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.project_8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}
/*# sourceMappingURL=style.css.map */