*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: P-BIG;
  src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: P-MED;
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: P-LIGHT;
  src: url("/fonts/Poppins-Thin.ttf");
}

body {
  font-family: P-MED;
  color: white;
  background-color: rgb(0, 0, 0);
}

nav {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: rgb(31, 31, 31);
}

.logo {
  filter: invert(1);
  margin-left: 5%;
}

.burger {
  margin-right: 5%;
  cursor: pointer;
}

.burger:hover {
  filter: opacity(0.6);
}

.page {
  display: grid;
  min-height: 90vh;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  grid-template-columns: 5% repeat(3, 1fr) 5%;
  grid-template-rows: 10% 1fr 16fr 1fr 10%;
}

.page .hero {
  text-align: left;
  grid-column: 1/6;
  grid-row: 2/4;
}

.page .details {
  grid-column: 1/3;
  grid-row: 2/3;
  color: white;
  margin-top: auto;

  text-align: left;
  z-index: 100;
}

.page .hero .image {
  max-width: 100%;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.bio_page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 2fr 1fr 5%;
}

.bio_details {
  grid-column: 3/3;
}

.bio_pic {
  opacity: 100%;
  width: 100%;
  grid-column: 3/3;
  grid-row: 1/2;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: rgb(15, 15, 15);
}

.social-links {
  margin: 30px auto;
  text-align: center;
  letter-spacing: 20px;
  filter: invert(1);
}

.nav-links {
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 10vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 100%;
  z-index: 1000;
  display: none;
}

.nav-links li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
}

.nav-active {
  display: block;
  background-color: rgb(49, 49, 49);
}

.work_page {
  display: grid;

  min-height: 90vh;
  margin-right: 5%;
  margin-left: 5%;
  grid-template-columns: 0% repeat(1, 1fr) 0%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.work_page .project_name {
  position: absolute;
  text-align: center;
}
.work_page .image {
  max-width: 100%;
  width: 100%;
}

.project_1 {
  background-color: green;
  grid-column: 1/3;
  grid-row: 1/2;
}
.project_2 {
  background-color: rgb(126, 128, 0);
  grid-column: 1/3;
  grid-row: 2/3;
}
.project_3 {
  background-color: rgb(0, 92, 128);
  grid-column: 1/3;
  grid-row: 3/4;
}
.project_4 {
  background-color: rgb(0, 60, 128);
  grid-column: 1/3;
  grid-row: 4/5;
}
.project_5 {
  background-color: rgb(128, 0, 107);
  grid-column: 1/3;
  grid-row: 5/6;
}
.project_6 {
  background-color: rgb(128, 0, 60);
  grid-column: 1/3;
  grid-row: 6/7;
}
.project_7 {
  background-color: green;
  grid-column: 1/3;
  grid-row: 7/8;
}
.project_8 {
  background-color: rgb(34, 0, 128);
  grid-column: 1/3;
  grid-row: 8/9;
}
